<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIFriends_003_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,81}</string>
                <key>spriteSourceSize</key>
                <string>{181,81}</string>
                <key>textureRect</key>
                <string>{{286,0},{181,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baopai_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{164,152}</string>
                <key>textureRect</key>
                <string>{{0,681},{164,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bi_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{302,81},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bipai1_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,74}</string>
                <key>spriteSourceSize</key>
                <string>{113,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{113,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bu_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{184,81},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chakanjieguo_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,75}</string>
                <key>spriteSourceSize</key>
                <string>{173,75}</string>
                <key>textureRect</key>
                <string>{{113,0},{173,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chi2_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{0,201},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chi_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{110,201},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{220,201},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_room2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{330,201},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu2_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{0,321},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{110,321},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu_tian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{0,81},{92,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu_zimo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{92,81},{92,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhuang_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,175}</string>
                <key>spriteSourceSize</key>
                <string>{300,175}</string>
                <key>textureRect</key>
                <string>{{164,681},{300,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng2_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{220,321},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{330,321},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tianhu_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,441},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zchi_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,441},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{240,441},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zimo_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{360,441},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zpao_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,561},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zpeng_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{120,561},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zti_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{240,561},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zwei_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{360,561},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zipai_mix.png</string>
            <key>size</key>
            <string>{480,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc4e90046d4d98fb8aa27bc6a905141:e7080b9e12d248852d7357101214b03d:03205d790460992bdd2c585eec05a90a$</string>
            <key>textureFileName</key>
            <string>zipai_mix.png</string>
        </dict>
    </dict>
</plist>
